
// Mini Editor
// -------------------

// Mini Editors are the "text inputs" used in find+replace or in the settings.


atom-text-editor[mini] {
  padding-left: @component-padding/2;
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
  color: @text-color-dark;
  border-radius: @component-border-radius;
  background-color: @input-background-color;

  .cursor {
    color: @text-color-dark;
  }

  &.is-focused {
    border-left: 3px solid @base-accent-color;
  }

  &, // <-- Deprecated. The `&,` can be removed once the Shadow DOM can't be turned off in the settings.
  &.editor {
    .placeholder-text {
      color: @text-color-subtle;
    }
    .selection .region {
      border-radius: 4px;
      background-color: @text-color-info;
    }
  }
}
